@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');


/*Global styles*/

body {
  font-family: "Courrier Prime" sans-serif;
  color: black;
  text-align: center;
  background-color: #FFF2F2;
}

.backgroud-img {
    background-image: url("assets/images/pexels-nataliya-vaitkevich-7236026.jpg");
    object-fit: cover;
    box-sizing: border-box;
  }
  
  h1 {
    font-family: 'Courier Prime', monospace;
    font-size: 60px;
  }
  
  /*game box edits*/
  .game-space {
    width: 60%;
    margin: auto;
    background-color:#E5E0FF;
    height: 75vh;
    box-sizing: border-box;
    border-radius: 10px;
    align-items: center;
    box-shadow: 5px 5px 5px #E5E0FF;
    padding: 1rem;
  }
  
  .intro {
    display: inline-block;
    font-family: 'Courier Prime', monospace;
    font-size: 30px;
    padding: 2%;
  
  }
  
  /* .btn-start-box {
    margin: auto;
  }
  
  .btn-start-btn {
    bottom: 0;
    font-family: 'Courier Prime', monospace;
  } */

  /*modal pop up styles*/

  .modal-pop-up {
    /* display: none; */
    width: 60%;
    height: 80%;
    box-sizing: border-box;
    align-items: center;
    background-color:rgba(229,224,255,0.7);
    margin: auto;
  }

  #modal-header {
    font-family: 'Courier Prime', monospace;
  }

  #modal-content {
    font-family: 'Courier Prime', monospace;
    font-size: 30px;
  }
  
  .continue-btn {
    width: 20%;
    height: 20%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
  }

  .btn-continue-btn {
    width: 70%;
    height: 40%;
    bottom: 0;
    font-family: 'Courier Prime', monospace;
    font-size: 20px;
    display: block;
    border-radius: 10px;
    background-color: #8EA7E9;
    box-shadow: 3px 3px black inset;
  }
  