@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');


/*Global styles*/

* {
  box-sizing: border-box;
}

body {
  font-family: "Courrier Prime"sans-serif;
  color: black;
  text-align: center;
  background-color: #FFF2F2;
  background: url('https://images.pexels.com/photos/1036936/pexels-photo-1036936.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1%27');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; 
}

.backgroud-img {
  object-fit: cover;
  box-sizing: border-box;
}

h1 {
  font-family: 'Courier Prime', monospace;
  font-size: 60px;
  text-align: center;
  color: white;
  font-weight: 400;
}

/*game box edits*/
.game-space {
  width: 60%;
  margin: auto;
  background-color: RGBA(16, 0, 0, .8);
  height: 75vh;
  box-sizing: border-box;
  border-radius: 10px;
  align-items: center;
  box-shadow: 5px 5px 5px #00E7FF;
  padding: 0.5rem;
}

#intro {
  display: inline-block;
  font-family: 'Courier Prime', monospace;
  font-size: 30px;
  padding: 1rem;
  color: white;

}

.btn-rule-box {
  margin: auto;
  font-family: 'Courier Prime', monospace;
}


/*modal pop up styles*/

/* .modal {
  width: 60%;
  margin: auto;
  background-color: RGBA(16, 0, 0, .8);
  height: 75vh;
  box-sizing: border-box;
  border-radius: 10px;
  align-items: center;
  box-shadow: 0 0 10px 10px #00E7FF;
  padding: 1rem;
} */

#instructions {
  display: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  color: white;
  position: relative;
  z-index: 4;
}

#modal-header {
  font-family: 'Courier Prime', monospace;
  color: white;
}

#modal-content {
  font-family: 'Courier Prime', monospace;
  font-size: 30px;
  color: white;
}

.close-btn {
  margin: auto;
  bottom: 0;
  font-family: 'Courier Prime', monospace;
}


/* Quiz page styles */

.score-area {
  font-family: 'Courier New', Courier, monospace;
  background-color: #00448c;
  width: 50%;
  margin: auto;
  margin-top: 2rem;
  font-size: 30px;
  font-weight: 400;
  display: flex;
  gap: 1rem;
}

.question-container {
  font-family: 'Courier New', Courier, monospace;
  margin: auto;
}

.question {
  text-transform: none;
}

/* media queries */

/* for large screens up to 1200px */

@media screen and (max-width: 1275px) {
  .game-space {
    box-sizing: border-box;
    width: 60%;
    height: 80vh;
  }

  #instructions {
    font-size: 30px;
  } 

  @media screen and (max-width: 950px) and (max-width: 700px) {
    .game-space {
      box-sizing: border-box;
      width: 60%;
      height: 85vh;
      font-size: 20px;
    }
  
    #instructions {
      font-size: 20px;
    } 
  }
 
  @media screen and (max-width: 750px) {
    .game-space {
      box-sizing: border-box;
      width: 60%;
      height: 100vh;
      font-size: 10px;
    }
  
    #instructions {
      font-size: 10px;
    } 
  }
}