@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');


/*Global styles*/

* {
  box-sizing: border-box;
}

body {
  font-family: "Courrier Prime"sans-serif;
  color: black;
  text-align: center;
  background-color: #FFF2F2;
  background: url('https://images.pexels.com/photos/1036936/pexels-photo-1036936.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1%27');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

h1 {
  font-family: 'Courier Prime', monospace;
  font-size: 60px;
  text-align: center;
  color: white;
  font-weight: 400;
  cursor: pointer;
}

.btn {
 padding: 0.5rem 1rem; 
 font-size: 2.2rem !important;
 border-radius: 0.5rem;
}

/*game box edits*/
.game-space {
  max-width: 80%;
  height: 75vh;
  margin: 0 auto;
  background-color: RGBA(16, 0, 0, .8);
  border-radius: 10px;
  align-items: center;
  box-shadow: 5px 5px 5px #00E7FF;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
}

#intro {
  display: inline-block;
  font-family: 'Courier Prime', monospace;
  font-size: 30px;
  color: white;

}

#instructions {
  display: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  color: white;
  position: relative;
  z-index: 4;
  justify-content: center;
}

#modal-header {
  font-family: 'Courier Prime', monospace;
  color: white;
}

#modal-content {
  font-family: 'Courier Prime', monospace;
  font-size: 30px;
  color: white;
}

.close-btn {
  margin: auto;
  bottom: 0;
  font-family: 'Courier Prime', monospace;
}


/* Quiz page styles */

.score-area {
  font-family: 'Courier New', Courier, monospace;
  text-shadow: 0px 2px 2px #00E7FF;
  background-color: RGBA(16, 0, 0, .8);
  max-width: 50%;
  margin: auto;
  margin-top: 2rem;
  font-size: 40px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.question-container {
  font-family: 'Courier New', Courier, monospace;
  width: 60%;
  height: 75vh;
  margin: 0 auto;
  background-color: RGBA(16, 0, 0, .8);
  box-sizing: border-box;
  border-radius: 10px;
  align-items: center;
  box-shadow: 5px 5px 5px #00E7FF;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
  align-content: center;
}

.question {
  text-transform: none;
  font-weight: 300;
}

.btn-grp-vertical {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  font-size: 20px;
  max-width: 50%;
  justify-content: center;
  margin: 0 auto;
}

/* media queries */

/* for large screens up to 1200px */

@media screen and (max-width: 1200px) {
  .game-space {
    box-sizing: border-box;
    width: 60%;

  }

  .btn {
    font-size: 1.5rem !important;
  }

  #instructions {
    font-size: 20px;
  }

  @media screen and (max-width: 950px) and (max-width: 700px) {
    .game-space {
      box-sizing: border-box;
      width: 60%;
      font-size: 10px;
    }

    #intro {
      font-size: 10px;
    }

    #instructions {
      font-size: 10px;
    }
  }

  @media screen and (max-width: 750px) {
    .game-space {
      box-sizing: border-box;
      font-size: 10px;
    }

    #intro {
      font-size: 20px;
    }

    .btn {
      font-size: 1.2rem !important;
    }

    #instructions {
      font-size: 10px;
    }

    #modal-header {
      color: white;
    }

    #modal-content {
      font-size: 20px;
    }

    .question-container {
      display: flex;
      flex-direction: row;
    }

    .question {
      font-size: 20px;
    }

  }

  @media screen and (max-width: 500px) {
    .game-space {
      font-size: 5px;
    }

    #intro {
      font-size: 20px;
    }

    .btn {
      font-size: 0.8rem !important;
    }

    .question {
      font-size: 20px;
    }


    .btn-grp-vertical {
      font-size: 10px;
    }

    .score-area {
      max-width: 70% !important;
      font-size: 1rem;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
    }

    .score-area p {
      font-size: 30px;
    }
  }

  @media screen and (max-width: 320px) {
    .game-space {
      font-size: 5px;
    }

    .heading {
      font-size: 20px;
    }

    #intro {
      font-size: 15px;
    }

    .btn {
      font-size: 0.7rem !important;
    }

    .question {
      font-size: 20px;
    }


    .btn-grp-vertical {
      font-size: 10px;
    }

    .score-area {
      max-width: 70% !important;
      font-size: 1rem;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
    }

    .score-area p {
      font-size: 20px;
    }
  }
}